.scoreboardContainer {
  height: 100%;
  width: 100%;
  text-align: left;
  .scoreboardHeader {
    border-bottom: 1px solid gainsboro;
    padding: 20px;
    max-height: 70px;
  }
  .scoreboardBody {
    padding: 20px;
    // for firefox
    height: inherit;
    // for chrome
    height: -webkit-fill-available;
  }
}
